<h1>{$info.plugin_name|escape} <span class="hint">v.{$info.plugin_version}</span></h1>
<div id="s-dbc-plugin-settings"></div>
<script>
    (function () {
        $.wa.loadSources([
            {
                id: 's-dbc-plugin-settings-js',
                type: 'js',
                uri: '{$wa_app_static_url}plugins/dbc/js/settings.js?v={$info.plugin_version}'
            }
        ]).done(
            () => ShopDbcPluginSettings({
                info: {$info|json_encode:256},
                settings: {$settings|json_encode:256},
                i18n: {$i18n|json_encode:256}
            }).mount('#s-dbc-plugin-settings')
        );
    })();
</script>
